# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# =============== #
# NUnit files     #
# =============== #
bin/
test-results/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# =============== #
# local specifics #
# =============== #
test_import_obj/
test_viewer/
*.zip
*.rar
*.exe
Assets/Resources/
Assets/Resources/Objects/
Assets/Resources/Objects.meta
